# ChatGPT
openai==1.12.0
# Llama 2
llama-cpp-python==0.2.47
# NLTK
nltk==3.8.1
# RNNTagger
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.2+cpu
# TreeTagger
treetaggerwrapper==2.3
six==1.16.0
# LDA
gensim==4.3.2
scipy==1.10.1
numpy==1.26.4